################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/TsundokuTraducoes/FileContentIndex/read.lock
/.vs/TsundokuTraducoes/FileContentIndex/e62b5dba-6083-4e84-af21-890bdc4a503b.vsidx
/.vs/tsundoku-api/v17/.suo
/TsundokuTraducoes/bin/
/TsundokuTraducoes/obj/
/TsundokuTraducoes/wwwroot/*
/.vs/
/TsundokuTraducoes/appsettings.json
/TsundokuTraducoes/database